.header {
  background-color: #cccccc;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.connect {
  width: auto;
  display: flex;
  align-items: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.connectImg {
  height: 3rem;
}

h1 {
  font-family: 'Courier New', Arial;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Courier New', Arial;
  font-size: 1.2rem;
  color: blue;
  margin: 0;
  padding: 0;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}