html {
  min-height: 100%;
  background-image: url('/images/milky/blueLine.jpg');
  /* background: '../../images/milky/blueLine.jpg'; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

